p {
    color: red;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: red;
}

body {
    background-color: lightblue;
    height: auto;
    align-items: center;
    text-align: center;
    justify-self: center;
}

container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}